In [1]:
import pandas as pd

In [5]:
import os

In [2]:
df_2005=pd.read_csv("data/checking_data/med/med_2005.CSV",encoding='cp949')
df_2010=pd.read_csv("data/checking_data/med/med_2010/med_2010_1.CSV",encoding='cp949')
df_2015=pd.read_csv("data/checking_data/med/med_2015/med_2015_1.CSV",encoding='cp949')
df_2020=pd.read_csv("data/checking_data/med/med_2020/med_2020_1.CSV",encoding='cp949')

In [4]:
df_2005.drop(['가입자일련번호','처방내역일련번호','일련번호','요양개시일자','1회 투약량','1일투약량'],axis=1)

,기준년도,성별코드,연령대코드(5세단위),시도코드,약품일반성분명코드,총투여일수,단가,금액,데이터 공개일자
0,2005,1,12,27,156602ACH,2,203,1218,20151220
1,2005,1,12,27,203901ATB,2,233,1398,20151220
2,2005,1,12,27,307900ATB,2,146,876,20151220
3,2005,1,12,27,421001ATB,2,203,1218,20151220
4,2005,1,12,27,281300ATB,2,77,462,20151220
...,...,...,...,...,...,...,...,...,...
21551829,2005,2,9,11,149501ATB,7,190,2660,20151220
21551830,2005,2,9,11,194101ATB,7,31,868,20151220
21551831,2005,1,9,47,216702ATB,1,959,8631,20151220
21551832,2005,1,5,11,222201ATB,28,1422,39816,20151220
21551833,2005,1,7,11,105502ATB,7,77,809,20151220

In [3]:
df_2005 = df_2005.iloc[:1000,:]
df_2010 = df_2010.iloc[:1000,:]
df_2015 = df_2015.iloc[:1000,:]
df_2020 = df_2020.iloc[:1000,:]

In [7]:
df_li=[
    df_2005,
    df_2010,
    df_2015, 
    df_2020
    ]

# df columns 공백 제거
for df in df_li:
    df.columns = [i.replace(" ","") for i in df.columns]

In [10]:
import pickle
with open("data/preprocessed_data/medicin_mapper.pkl",'rb') as fr:
    my_dict = pickle.load(fr)

In [44]:
df_tot=pd.concat([df_2005,df_2010,df_2015,df_2020])

In [45]:
df_tot['약품명']=df_tot['약품일반성분명코드'].map(my_dict)